<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jobs-Admin</title>
    <link   rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tw-elements/css/tw-elements.min.css" />
    <script  src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="static/css/vicaf.css">
</head>
<body>
    <div id="jobs-admin-content"></div>
    <script src="../static/js/jobs-admin.js"></script>
</body>
</html>